<h1>Employees</h1>

<% @employees.each do |employee| %>
  <ul>
    <li> <%= link_to employee.name, employee %></li>
  </ul>
<% end %>

<nav>
  <%= link_to 'Add New Employee', new_employee_path %>
</nav>
