<h1>Welcome, <%= @employee.name %>!</h1>
  <% if current_employee_manager? %>
    <%= render 'manager' %>

    <%= link_to 'All Employees', employees_path %>
  <% else %>
    <%= render 'employee' %>
  <% end %>
