<header id="content-header">
  <h1>Comments for <%= link_to(@task.title, @task) %></h1>
</header>
<ol>
  <% @comments.each do |comment| %>
    <li>
      <p>
        <%= link_to comment.employee.name, comment.employee %> <%= comment.created_at %>
      </p>
      <p>
        <%= comment.comment %>
      </p>
    </li>
  <% end %>
</ol>
