<%= form_for(@comment) do |f| %>
<fieldset>
  <p>
    <%= f.label :comment, "New Comment" %><br/>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit "Add Comment"%>
  </p>
<fieldset>
<% end %>
