<ul id='tasks'>
  <% @tasks.each do |task| %>
    <li>
      <article class='task'>
        <header>
          <h1><%= link_to task.title, task %> (<%= task.due %>)</h1>
        </header>
      </article>
    </li>
  <% end %>
</ul>
