<nav>
  <p>
    <% if current_employee %>
      <%= link_to current_employee.name, current_employee %>
      <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
    <% else %>
    <%= link_to "Sign In", new_session_path %>
    <%end%>
  </p>
</nav>
